$green: #417505;
$pink: #BD10E0;
$red: #D0021B;
$blue: #4A90E2;

body.woocommerce {
	div.button-group-container {
		display: flex;
		height: 38px;
		justify-content: flex-start;
		margin-top: 20px;

		a {
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}
		}

		a.added_to_cart {
			padding-top: 0;
			display: inline-block;
		}

		.square-button,
		a.added_to_cart,
		a.add_to_cart_button,
		a.ajax_add_to_cart,
		a.br_product_preview_button,
		a.product_type_simple,
		a.product_type_variable {
			align-items: center;
			align-self: flex-start;
			border-radius: 0;
			color: $white1;
			cursor: pointer;
			display: flex;
			font-family: $ptSansNarrow;
			font-size: 10px;
			font-weight: normal;
			height: 38px;
			justify-content: center;
			letter-spacing: 0.28px;
			line-height: 1.4;
			margin-top: auto;
			margin-bottom: 0;
			padding: 0;
			text-align: center;
			width: 38px;

			&:hover {
				color: $white1;
				opacity: 0.8;
				text-decoration: none;
			}

			&.disabled {
				cursor: not-allowed;
				opacity: 0.5;
				padding: 0;

				&:hover {
					opacity: 0.8;
				}
			}

			&.added {
				display: none;
			}
		}

		.preview-button {
			background-color: $green;

			&:hover {
				background-color: $green;
			}
		}

		.gallery-popup {
			background-color: $pink;
		}

		.add-to-cart,
		a.added_to_cart,
		a.product_type_simple,
		a.product_type_variable {
			background-color: $red;

			&.added {
				display: none;
			}
		}

		.open-product {
			background-color: $blue;
		}
	}
}
