.filter-wrap {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

body.woocommerce {
	.woocommerce-ordering {
		float: none;
		margin-bottom: 0;

		select {
			border: 1px solid #ddd;
			border-radius: 3px;
			color: $grey5;
			height: 40px;
		}
	}
}

.wc-isotope-search {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-right: 10px;
	width: 100%;

	label {
		width: 100%;
	}

	input[type="search"] {
		background-color: $white7;
		width: 100%;
		height: 40px;
		font-size: 14px;
		line-height: 100%;
		padding: 10px 15px;
		border: 1px solid #ddd;
		border-radius: 3px;
		-webkit-appearance: none;
	}

	.toggle-filters {
		align-items: center;
		background-color: $white7;
		border: 1px solid #ddd;
		border-radius: 3px;
		display: flex;
		justify-content: space-between;
		margin-right: 10px;
		padding: 3px 15px;
		text-decoration: none;

		&.active {
			border-bottom: 5px solid $green3;

			i {
				color: $green3;
			}
		}

		i {
			color: $grey5;
			font-size: 30px;
			font-weight: bold;
			transition: all 0.3s ease-out;

			&:first-child {
				margin-right: 10px;
			}
		}
	}
}

.wc-isotope-filters {
	box-shadow: 0 6px 4px 0 rgba(74, 74, 74, 0.5);
	display: flex;
	justify-content: flex-start;
	padding: 30px 0 50px;
	overflow: hidden;
	transition: height, padding 0.3s ease-out;

	&.is-hidden {
		height: 0;
		padding-bottom: 0;
		padding-top: 0;
	}

	.ui-group {
		border-right: 1px solid $grey3;
		padding-left: 30px;
		padding-right: 50px;

		&:last-child {
			border-right: 0;
			padding-right: 0;
		}

		h6 {
			color: $grey3;
		}
	}

	.product-cat-terms,
	.filter-link-group {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-right: 60px;

		&:last-of-type {
			margin-right: 0;
		}
	}

	.filter-link {
		align-items: center;
		color: $grey5;
		display: flex;
		font-size: 16px;
		justify-content: space-between;
		text-decoration: none;

		&:hover,
		&:active,
		&.is-checked {
			color: $green3;
		}

		&.is-checked {
			font-weight: bold;
		}
	}

	.count {
		color: $green3;
		font-size: 12px;
		padding-left: 20px;
	}
}

.wc-isotope-active-filters {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 50px;
	margin-top: 25px;

	a {
		background-color: $grey5;
		border-radius: 30px;
		color: $white1;
		margin: 0 15px 10px 0;
		padding: 5px 20px;
		text-decoration: none;

		&:hover {
			color: $white3;
			text-decoration: none;

			span {
				color: $white3;
			}
		}

		&:last-child {
			margin-right: 0;
		}

		span {
			color: $white1;
			margin-left: 15px;
		}
	}
}
