.product-category-slider-flickity {
	opacity: 1;
	overflow: hidden;
	padding-bottom: 120px;
	padding-top: 60px;
	transition: opacity 0.4s;

	&.is-hidden {
		opacity: 0;
	}

	.heading {
		> * {
			font-family: $apercuRegular;
		}

		.term-heading {
			color: $black2;
			font-size: 32px;
			margin-bottom: 1rem;
			margin-top: 4rem;
			text-transform: capitalize;
		}

		.term-link {
			align-items: center;
			display: flex;
			color: $red2;
			font-size: 15px;
			margin-left: 5px;
			text-decoration: none;
			touch-action: manipulation;

			span {
				font-size: 10px;
				margin-left: 5px;

				&:before {
					speak: none;
					text-transform: none;
					-webkit-font-smoothing: anti1aliased;
				}
			}
		}
	}

	&.woocommerce {
		position: relative;

		.products {
			padding-bottom: 1rem;
			padding-top: 1rem;
			position: static;

			.flickity-viewport {
				overflow: auto;
			}

			.product {
				background-color: $white3;
				box-shadow: 0 1px 1px rgba(#29435c, 0.2), 0 6px 12px -6px rgba(#29435c, 0.4);
				display: flex;
				flex-direction: column;
				height: 380px;
				max-width: 260px;
				overflow-x: auto;
				padding: 30px 15px;
				text-align: left;
				width: 100%;
				-ms-overflow-style: -ms-autohiding-scrollbar;
				-webkit-overflow-scrolling: touch;

				a img {
					border: 3px solid $purple1;
					opacity: 1;
					transform: scale(1, 1);
					transition: transform .4s ease-in-out;
				}

				.woocommerce-loop-product__title {
					color: $blue1;
					font-size: 24px;
					font-family: $ptSansNarrow;
					letter-spacing: 0.28px;
					margin-bottom: 10px;
				}

				.price {
					font-family: $ptSansNarrow;
					font-size: 14px;
					font-weight: 400;
					letter-spacing: 0.17px;

					del {
						color: $grey3;
						margin-right: 30px;
					}

					ins {
						color: $red1;
						text-decoration: none;
					}
				}

				&:nth-child(odd) {
					background-color: $white4;
					border: 1px solid $white5;
				}

				&:hover {
					box-shadow: $productBoxShadow;

					a {
						text-decoration: none;

						img {
							opacity: 0.7;
							transform: scale(1.05, 1.05);
						}
					}
				}

				.triangle {
					&:nth-child(even) {
						background-color: $white1;
					}
				}
			}
		}
	}
}
