.product-category-slider {
	display: flex;
	flex-direction: column;

	.swiper-navigation-container {
		align-self: flex-end;
		display: flex;

		.swiper-button-prev,
		.swiper-button-next {
			background-color: $grey4;
			border-radius: 50%;
			cursor: pointer;
			height: 44px;
			position: static;
			transition: all 0.2s ease-in-out;
			-webkit-appearance: button;
			width: 44px;
		}

		.swiper-button-next {
		}

		.swiper-button-prev {
		}
	}

	.swiper-container {
		&.woocommerce {
			width: 100%;
			height: 100%;

			.products {
				.product {
					background-color: $white3;
					display: flex;
					flex-direction: column;
					height: auto;
					max-width: 260px;
					padding: 30px 15px;
					text-align: left;

					a img {
						border: 3px solid $purple1;
						opacity: 1;
						transform: scale(1, 1);
						transition: transform .4s ease-in-out;
					}

					.woocommerce-loop-product__title {
						color: $blue1;
						font-size: 24px;
						font-family: $ptSansNarrow;
						letter-spacing: 0.28px;
					}

					.price {
						font-family: $ptSansNarrow;
						font-size: 14px;
						font-weight: 400;
						letter-spacing: 0.17px;

						del {
							color: $grey3;
							margin-right: 30px;
						}

						ins {
							color: $red1;
							text-decoration: none;
						}
					}

					.buttons-wrap {
						align-items: center;
						align-self: flex-start;
						background-color: $grey1;
						cursor: pointer;
						display: flex;
						height: 38px;
						justify-content: center;
						margin-top: auto;
						margin-bottom: 0;
						width: 38px;
					}

					&:nth-child(even) {
						background-color: $white4;
						border: 1px solid $white5;
					}

					&:hover {
						box-shadow: $productBoxShadow;

						a img {
							opacity: 0.7;
							transform: scale(1.05, 1.05);
						}

						.arrow-right {
							transform: rotate(-180deg);
						}
					}
				}
			}
		}
	}
}


.product-category-slider-flickity {
	&.woocommerce {
		position: relative;

		.flickity-slider {
			position: static;

			.product {
				background-color: $white3;
				display: flex;
				flex-direction: column;
				height: 380px;
				max-width: 260px;
				padding: 30px 15px;
				text-align: left;
				width: 100%;

				a img {
					border: 3px solid $purple1;
					opacity: 1;
					transform: scale(1, 1);
					transition: transform .4s ease-in-out;
				}

				.woocommerce-loop-product__title {
					color: $blue1;
					font-size: 24px;
					font-family: $ptSansNarrow;
					letter-spacing: 0.28px;
				}

				.price {
					font-family: $ptSansNarrow;
					font-size: 14px;
					font-weight: 400;
					letter-spacing: 0.17px;

					del {
						color: $grey3;
						margin-right: 30px;
					}

					ins {
						color: $red1;
						text-decoration: none;
					}
				}

				.buttons-wrap {
					align-items: center;
					align-self: flex-start;
					background-color: $grey1;
					cursor: pointer;
					display: flex;
					height: 38px;
					justify-content: center;
					margin-top: auto;
					margin-bottom: 0;
					width: 38px;
				}

				&:nth-child(even) {
					background-color: $white4;
					border: 1px solid $white5;
				}

				&:hover {
					box-shadow: $productBoxShadow;

					a img {
						opacity: 0.7;
						transform: scale(1.05, 1.05);
					}

					.arrow-right {
						transform: rotate(-180deg);
					}
				}
			}
		}
	}

	.flickity-prev-next-button {
		top: 10px;
		transform: none;

		&.previous {
			left: auto;
			right: 60px;
		}

		&.next {
			right: 10px;
		}
	}
}
