.product-category-slider-flickity {
	opacity: 1;
	overflow: hidden;
	padding-bottom: 80px;
	padding-top: 60px;
	transition: opacity 0.4s;

	&.is-hidden {
		opacity: 0;
	}

	.heading {
		> * {
			font-family: $apercuRegular;
		}

		.term-heading {
			color: $black2;
			font-size: 32px;
			margin-bottom: 1rem;
			margin-top: 4rem;
			text-transform: capitalize;
		}

		.term-link {
			align-items: center;
			display: flex;
			color: $red2;
			font-size: 15px;
			margin-left: 5px;
			text-decoration: none;
			touch-action: manipulation;

			span {
				font-size: 10px;
				margin-left: 5px;

				&:before {
					speak: none;
					text-transform: none;
					-webkit-font-smoothing: anti1aliased;
				}
			}
		}
	}

	&.woocommerce {
		position: relative;

		.products {
			padding-bottom: 1rem;
			padding-top: 1rem;
			position: static;

			.flickity-viewport {
				@media (min-width: 1100px) {
					overflow: auto;
				}
			}

			.product {
				background-color: $white1;
				display: flex;
				min-height: 410px;
				max-width: 300px;
				padding: .5rem;
				text-align: left;
				width: 100%;

				@media (min-width: 1100px) {
					-ms-overflow-style: -ms-autohiding-scrollbar;
					-webkit-overflow-scrolling: touch;
				}

				.inner {
					display: flex;
					flex-direction: column;
					padding: 55px 30px 20px;
					transition: all 0.2s ease-in-out;

					&:hover {
						box-shadow: 0 7px 18px rgba(0, 0, 0, 0.05);
						transform: translateY(-5px);

						a {
							text-decoration: none;
						}
					}
				}

				.woocommerce-loop-product__title {
					color: $blue1;
					font-size: 24px;
					font-family: $ptSansNarrow;
					letter-spacing: 0.28px;
					margin-bottom: 10px;
				}

				.price {
					font-family: $ptSansNarrow;
					font-size: 14px;
					font-weight: 400;
					letter-spacing: 0.17px;

					del {
						color: $grey3;
						margin-right: 30px;
					}

					ins {
						color: $red1;
						text-decoration: none;
					}
				}
			}
		}
	}
}
