// Colors
$trans1: rgba(0, 0, 0, 0);


$white1: #fff;
$white2: #e0e0e0;
$white3: #D4D5D5;
$white4: #f9f9f9;
$white5: #dddddd;


$black1: #000;


$grey1: #D8D8D8;
$grey2: #9B9B9B;
$grey3: #4A4A4A;
$grey4: rgba(255, 255, 255, 0.75);


$green1: #D7EBC2;
$green2: rgba(126, 211, 33, 0.23);


$purple1: #BD10E0;


$yellow1: #FFD204;


$blue1: #4A90E2;


$red1: #D0021B;


// Box Shadows
$productBoxShadow: 0 3px 10px 0 rgba(0, 0, 0, 0.23);



// Font families
$ptSansNarrow: 'PT Sans Narrow', sans-serif;
