body.admin-bar .wpflym-toggle-wrapper {
	top: 47px;

	@media (max-width: 782px) {
		top: 62px;
	}
}

#div_block-231-28 {
	flex-direction: row;
	justify-content: flex-start;

	@media (max-width: 1380px) {
		transform: translateX(30px);
	}


	.ct-link {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-start;
	}

	#image-206-28 {
		width: 70%;
		margin-left: 0;
	}
}

div.ct-section-inner-wrap,
#_header-123-12 div.oxy-header-container {
	max-width: 1330px;
}


.page-title {
	text-align: center;
}
