.triangle {
	background: $grey1;
	height: 38px;
	position: relative;
	width: 38px;

	&:after {
		content: "";
		position: absolute;
		right: 25%;
		top: 50%;
	}

	&.right {
		&:after {
			border-top: 12px solid transparent;
			border-bottom: 12px solid transparent;
			border-left: 19px solid $grey2;
			margin-top: -12px;
		}

	}

	&.left {
		&:after {
			border-top: 12px solid transparent;
			border-bottom: 12px solid transparent;
			border-right: 19px solid $grey2;
			margin-top: -12px;
		}

	}
}
