.triangle {
	width: 0;
	height: 0;
	transition: transform 300ms ease;

	&.arrow-up {
		border-right: 12px solid $trans1;
		border-left: 12px solid $trans1;
		border-bottom: 19px solid $grey2;
	}

	&.arrow-right {
		border-top: 12px solid $trans1;
		border-bottom: 12px solid $trans1;
		border-left: 19px solid $grey2;
		transform-origin: center;
	}

	&.arrow-down {
		border-right: 12px solid $trans1;
		border-left: 12px solid $trans1;
		border-top: 19px solid $grey2;
	}

	&.arrow-left {
		border-top: 12px solid $trans1;
		border-bottom: 12px solid $trans1;
		border-right: 19px solid $grey2;
	}
}
